.advantages-home {
	&__name {
		padding-left: 30px;
		position: relative;
		color: var(--color-black) !important;
		font-size: var(--fz-24) !important;
		@media (max-width: 479.98px) {
			font-size: var(--fz-16) !important;
		}
		&::before {
			content: '';
			width: 20px;
			height: 20px;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0%, -50%);
			background-color: var(--color-blue);
			border-radius: 50%;
		}
	}
	&__info {
		font-size: var(--fz-18) !important;
		@media (max-width: 479.98px) {
			font-size: var(--fz-14) !important;
		}
	}
}
