.site-bar {
	flex: 0 1 20%;
	@media (max-width: 991.98px) {
		margin-bottom: 30px;
	}
	&__input {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 7px;
		background-color: var(--bg-color-main);
		border: 2px solid var(--color-white-green);
		border-radius: 10px;
		-webkit-box-shadow: 1px 1px 11px -1px rgba(34, 60, 80, 0.06);
		-moz-box-shadow: 1px 1px 11px -1px rgba(34, 60, 80, 0.06);
		box-shadow: 1px 1px 11px -1px rgba(34, 60, 80, 0.06);
		& input {
			padding: 7px 4px 7px 7px;
			width: 100%;
		}
		& svg {
			margin-right: 8px;
			color: #818181;
		}
	}
	&__list {
		margin-top: 10px;
		padding: 15px;
		background-color: var(--bg-color-main);
		border: 2px solid var(--color-white-green);
		border-radius: 10px;
		-webkit-box-shadow: 1px 1px 11px -1px rgba(34, 60, 80, 0.06);
		-moz-box-shadow: 1px 1px 11px -1px rgba(34, 60, 80, 0.06);
		box-shadow: 1px 1px 11px -1px rgba(34, 60, 80, 0.06);
		display: flex;
		flex-direction: column;
		gap: 25px;
	}
	&__item {
	}
	&__label {
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
		& svg {
			transition: all 0.3s ease 0s;
		}
	}
}

._d-none {
	display: none !important;
}
