.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: var(--bg-color-main);
	&__group {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 82px;
		gap: 30px;
		@media (max-width: 767.98px) {
			gap: 15px;
		}
	}
	&__logo {
		color: var(--color-black);
		font-size: var(--fz-37);
		font-weight: var(--fw-600);
		animation-name: animLogo;
		animation-duration: 2s;
		animation-delay: 3s;
		animation-fill-mode: forwards;
		opacity: 0;
		& p {
			display: flex;
			flex-direction: column;
			text-align: center;
		}
		& span {
			display: inline-block;
			font-size: var(--fz-12);
			padding: 0;
		}
		@media (max-width: 767.98px) {
			font-size: var(--fz-21);
		}
		@media (max-width: 479.98px) {
			align-content: flex-start;
			p {
				text-align: left;
			}
		}
	}
	&__tel {
		color: var(--color-black);
		text-align: right;
		animation-name: animNumber;
		animation-duration: 2s;
		animation-delay: 4s;
		animation-fill-mode: forwards;
		opacity: 0;
		& strong {
			font-size: var(--fz-16);
			line-height: 125%;
			@media (max-width: 767.98px) {
				font-size: 13px;
			}
		}
		& p {
			max-width: 230px;
			font-size: var(--fz-12);
			@media (max-width: 767.98px) {
				display: none;
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}

@keyframes animLogo {
	from {
		opacity: 0;
		transform: translateY(-50%);
	}
	to {
		opacity: 1;
		transform: translateY(0%);
	}
}
@keyframes animNumber {
	from {
		opacity: 0;
		transform: translateX(50%);
	}
	to {
		opacity: 1;
		transform: translateX(0%);
	}
}
